<h4>Añadir Plan</h4>
<hr>
<div class="panel panel-default">
    <div class="panel-heading">Añadir Plan</div>
    <div class="panel-body">
        <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-4">
                    <label for="name">Nombre del Plan</label>
                    <input type="text" class="form-control" name="PlanName" [(ngModel)]="planModel.PlanName" maxlength="50"
                        #refPlanName="ngModel" id="PlanName" required>
                    <div *ngIf="!refPlanName.valid  && (refPlanName.dirty || refPlanName.touched)" class="alert alert-danger">
                        <div [hidden]="!refPlanName.errors.required">
                            Nombre del Plan es requerido
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="name">Periodo</label>
                    <select required name="PeriodID" #refPeriodID="ngModel" class="form-control" [(ngModel)]="planModel.PeriodID">
                        <option value=''>Seleciona un Periodo</option>
                        <option *ngFor="let period of PeriodList" [ngValue]="period.PeriodID">
                            {{period.Text}}
                        </option>
                    </select>
                    <div *ngIf="!refPeriodID.valid  && (refPeriodID.dirty || refPeriodID.touched)" class="alert alert-danger">
                        <div [hidden]="!refPeriodID.errors.required">
                            Periodo es requerido
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="name"> Programa</label>
                    <select required name="SchemeID" #refSchemeID="ngModel" class="form-control" [(ngModel)]="planModel.SchemeID">
                        <option value=''>Seleciona un Programa</option>
                        <option *ngFor="let activescheme of AllActiveSchemeList" [ngValue]="activescheme.SchemeID">
                            {{activescheme.SchemeName}}
                        </option>
                    </select>
                    <div *ngIf="!refSchemeID.valid  && (refSchemeID.dirty || refSchemeID.touched)" class="alert alert-danger">
                        <div [hidden]="!refSchemeID.errors.required">
                            Programa es requerido
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label for="name">Costo del Plan</label>
                    <input type="text" class="form-control" (keypress)="numberOnly($event)" name="PlanAmount"
                        [(ngModel)]="planModel.PlanAmount" maxlength="50" #refPlanAmount="ngModel" id="PlanAmount"
                        required>
                    <div *ngIf="!refPlanAmount.valid  && (refPlanAmount.dirty || refPlanAmount.touched)" class="alert alert-danger">
                        <div [hidden]="!refPlanAmount.errors.required">
                            Costo del Plan es requerido
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="name">IGV</label>
                    <input type="text" class="form-control" name="ServiceTax" (keypress)="numberOnly($event)"
                        [(ngModel)]="planModel.ServiceTax" maxlength="50" #refServiceTax="ngModel" id="ServiceTax"
                        required>
                    <div *ngIf="!refServiceTax.valid  && (refServiceTax.dirty || refServiceTax.touched)" class="alert alert-danger">
                        <div [hidden]="!refServiceTax.errors.required">
                            IGV 
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <button type="submit" style="margin-top: 10px" [disabled]="!f.form.valid" class="btn btn-success">Añadir</button>
                    <a style="margin-left: 10px; margin-top:7px;" class="btn btn-info" [routerLink]="['/Plan/All']">
                        Listar Planes </a>
                </div>
            </div>
        </form>
    </div>
</div>