<h4>Reporte de los miembros</h4>
<hr>
<div class="panel panel-default">
  <div class="panel-heading">Reporte</div>
  <div class="panel-body">

    <button mat-raised-button class="btn btn-info" (click)="ExportTOExcel()">Exportar como Excel</button>

    <hr>

    <div class="example-container mat-elevation-z8 " #TABLE>
      <table mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="MemberNo">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.MemberNo}} </td>
        </ng-container>

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="Contactno">
          <th mat-header-cell *matHeaderCellDef> Telefono </th>
          <td mat-cell *matCellDef="let element"> {{element.Contactno}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="EmailID">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.EmailID}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="PlanName">
          <th mat-header-cell *matHeaderCellDef> Nombre del plan </th>
          <td mat-cell *matCellDef="let element"> {{element.PlanName}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="SchemeName">
          <th mat-header-cell *matHeaderCellDef> Programa </th>
          <td mat-cell *matCellDef="let element"> {{element.SchemeName}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="JoiningDate">
          <th mat-header-cell *matHeaderCellDef> Fecha de Ingreso </th>
          <td mat-cell *matCellDef="let element"> {{element.JoiningDate}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="RenwalDate">
          <th mat-header-cell *matHeaderCellDef> Fecha de Renovacion </th>
          <td mat-cell *matCellDef="let element"> {{element.RenwalDate}} </td>
        </ng-container>

        <ng-container matColumnDef="PaymentAmount">
          <th mat-header-cell *matHeaderCellDef> Monto pagado </th>
          <td mat-cell *matCellDef="let element"> {{element.PaymentAmount}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </div>
</div>