<h4>Añadir Programa</h4>
<hr>
<div class="panel panel-default">
    <div class="panel-heading">Añadir Programa</div>
    <div class="panel-body">
        <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-3">
                    <label for="name">Nombre del Programa</label>
                    <input type="text" class="form-control" name="SchemeName" [(ngModel)]="SchemeForms.SchemeName"
                        maxlength="50" #refSchemeName="ngModel" id="SchemeName" required>
                    <div *ngIf="!refSchemeName.valid  && (refSchemeName.dirty || refSchemeName.touched)" class="alert alert-danger">
                        <div [hidden]="!refSchemeName.errors.required">
                            Nombre del Programa is required
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="name">Estado</label>
                    <br>
                    <input style="margin-top: 10px" type="checkbox" name="Status" [(ngModel)]="SchemeForms.Status"
                        maxlength="50" #refStatus="ngModel" id="SchemeName">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button type="submit" style="margin-top: 10px" [disabled]="!f.form.valid" class="btn btn-success">Añadir</button>
                    <a style="margin-left: 10px; margin-top:7px;" class="btn btn-info" [routerLink]="['/Scheme/All']">
                        Ver Programas </a>
                </div>
            </div>
        </form>
    </div>
</div>