<h4>Listar Programas</h4>
<hr>

    <div class="row">
      <div class="col-md-12">
        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
          </mat-form-field>
        </div>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <!-- SchemeID Column -->
            <ng-container matColumnDef="SchemeID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Programa ID </th>
              <td mat-cell *matCellDef="let element"> {{element.SchemeID}} </td>
            </ng-container>
            <!-- SchemeName Column -->
            <ng-container matColumnDef="SchemeName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del Programa </th>
              <td mat-cell *matCellDef="let element"> {{element.SchemeName}} </td>
            </ng-container>
            <!-- Status Column -->
            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
              <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
            </ng-container>
            <!-- Createddate Column -->
            <ng-container matColumnDef="Createddate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Creacion </th>
              <td mat-cell *matCellDef="let element"> {{element.Createddate}} </td>
            </ng-container>
            <!-- EditAction Column -->
            <ng-container matColumnDef="EditAction">
              <th mat-header-cell *matHeaderCellDef> Accion </th>
              <td mat-cell *matCellDef="let element"> <a class="btn btn-info" [routerLink]="['/Scheme/Edit/',element.SchemeID]"><i
                    class="fa fa-edit fa-fw"></i>
                    Editar</a> </td>
            </ng-container>
            <!-- DeleteAction Column -->
            <ng-container matColumnDef="DeleteAction">
              <th mat-header-cell *matHeaderCellDef> Accion </th>
              <td mat-cell *matCellDef="let element">
                <button class="btn btn-info" (click)="Delete(element.SchemeID)">Eliminar</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
